	<ion-view view-title="{{ agenda.judul }}" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top"  scroll="true"   id="page-agenda_singles" class="page-agenda_singles">
		
			<ion-refresher pulling-text="Pull to refresh..."  on-refresh="doRefresh()"></ion-refresher>
			<div class="list ">

					<!-- heading-1 -->
					<div class="item item-divider"  ng-bind-html="agenda.judul | to_trusted">{{agenda.judul}}</div>
					<!-- ./heading-1 -->

					<!-- images -->
					<div class="item noborder"><img class="full-image" ng-src="{{agenda.gambar}}"  zoom-view="true" zoom-src="{{agenda.gambar}}"/></div>
					<!-- ./images -->

					<!-- to_trusted -->
					<div class="item item-text-wrap noborder to_trusted {{ fontsize }}" ng-bind-html="agenda.isi | strHTML"></div>
					<!-- ./to_trusted -->

					<!-- text -->
					<div class="item"><span class="subdued" >tgl_upload{{agenda.tgl_upload}}</span></div>
					<!-- ./text -->
			</div>
			<br/><br/><br/>

		</ion-content>
		<!-- ./content -->
	</ion-view>
