	<ion-view view-title="{{ berita.judul }}" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top"  scroll="true"   id="page-berita_singles" class="page-berita_singles">
		
			<ion-refresher pulling-text="Pull to refresh..."  on-refresh="doRefresh()"></ion-refresher>
			<div class="list ">

					<!-- heading-1 -->
					<div class="item item-divider"  ng-bind-html="berita.judul | to_trusted">{{berita.judul}}</div>
					<!-- ./heading-1 -->

					<!-- images -->
					<div class="item noborder"><img class="full-image" ng-src="{{berita.gambar}}"  zoom-view="true" zoom-src="{{berita.gambar}}"/></div>
					<!-- ./images -->

					<!-- to_trusted -->
					<div class="item item-text-wrap noborder to_trusted {{ fontsize }}" ng-bind-html="berita.isi | strHTML"></div>
					<!-- ./to_trusted -->
			</div>
			<br/><br/><br/>

		</ion-content>
		<!-- ./content -->
	</ion-view>
